[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "~=1.3.0"
opencv-python = "~=4.8.0.76"
numpy = "~=1.25.2"
pillow = "~=10.0.0"
langchain = {version = "*", extras = ["llms"]}
python-dotenv = "~=1.0.0"
sentence-transformers = "~=2.2.2"

[dev-packages]

[requires]
python_version = "3.11"
